sound_con NODE
[{"id":"d167bdcc.8a5bb","type":"mqtt in","z":"55b85b63.ac46f4","name":"","topic":"/khj/outTopic","qos":"0","datatype":"auto","broker":"3da1bbc2.ecdad4","x":270,"y":80,"wires":[["6d26f728.cdc1a8"]]},{"id":"6d26f728.cdc1a8","type":"ui_text","z":"55b85b63.ac46f4","group":"644b7cdd.461c94","order":1,"width":0,"height":0,"name":"","label":"송신문자","format":"{{msg.payload}}","layout":"row-spread","x":446,"y":80,"wires":[]},{"id":"5ae068be.1d6c38","type":"addFirebase","z":"55b85b63.ac46f4","firebaseCertificate":"f5dec6c6.401218","client_email":"","private_key":"","data":"","childpath":"/data","propertyType":"str","method":"get","newchildpath":"","x":550,"y":300,"wires":[[]]},{"id":"8ba606eb.0c45b8","type":"inject","z":"55b85b63.ac46f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":320,"wires":[[]]},{"id":"ceade040.091ff","type":"debug","z":"55b85b63.ac46f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":300,"wires":[]},{"id":"901b73aa.91542","type":"mqtt out","z":"55b85b63.ac46f4","name":"","topic":"/khj/outTopic","qos":"0","retain":"false","broker":"3da1bbc2.ecdad4","x":1230,"y":400,"wires":[]},{"id":"1609bea1.ba6ee1","type":"inject","z":"55b85b63.ac46f4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"안녕","payloadType":"str","x":710,"y":180,"wires":[["901b73aa.91542","ceade040.091ff"]]},{"id":"12584be5.816dd4","type":"firebase.on","z":"55b85b63.ac46f4","name":"","firebaseconfig":"","childpath":"/data","atStart":true,"eventType":"value","queries":[],"x":260,"y":440,"wires":[["f2c13b4f.27b028"]]},{"id":"f2c13b4f.27b028","type":"function","z":"55b85b63.ac46f4","name":"","func":"msg.payload={\n    order:msg.payload.data.order\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":500,"wires":[[]]},{"id":"3da1bbc2.ecdad4","type":"mqtt-broker","name":"mqtt-dashboard.com","broker":"a10x5fsnw5ocjg-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"2363c8e7.130848","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"644b7cdd.461c94","type":"ui_group","name":"OTTO 로봇제어","tab":"13a87295.718a4d","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5dec6c6.401218","type":"firebaseCertificate","firebaseurl":"otto-mwsc-default-rtdb","loginType":"jwt"},{"id":"2363c8e7.130848","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"a66cbb0a9f-certificate.pem.crt","keyname":"a66cbb0a9f-private.pem.key","caname":"aCA.pem","servername":"","verifyservercert":true},{"id":"13a87295.718a4d","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
